/* 
    Document   : Style.css
    Created on : Nov 26, 2013, 1:06:05 PM
    Author     : cst239
    Description:
        Purpose of the stylesheet follows.
*/

/* Index Gallery styling */
.galleryTable td{
    height: 48px; 
    width: 48px; 
    border: 1px solid #323232;
    padding: 5px;
}

/* Makes the links display in a line */
.inline{
    
}
.inline li{
    display:inline; 
    padding-right:4px; 
    border-right: 1px solid #47433e;
}
.last{
    border-right: none !important;
}

/*Comment Styling*/
#comment{
    padding: 0px 20px 0px 20px;
}
#CommentTable{
    width:750px;
    border: 1px solid #323232;
}
#row1 td{
    border-bottom: 1px solid #323232;
}

/*Comment Styling*/
form{
    width:750px;
}
textarea{
    resize:none;
    width: 100%;
    height: 100px;
    background-color: white;
}
#commentContainer fieldset legend{
    display:none;
}
#CommentAreaLabel{
    text-decoration: underline;
    font-weight: bold;
    padding-left: 10px;
}
#ratings{
    width: 300px;
    display: block;
    margin: 0 auto;

    padding: 10px 10px 10px 30px;
    border: 3px solid #323232;

    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;

    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;

    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;

    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px;
}

/*Main Styling*/
#col{
    display: block;
    margin: 0 auto;

    background-color:gray;
    width: 800px;
    height: 100%;
}

#ImageContainer{
    display: block;
    margin: 0 auto;
}

#Image{
    padding: 5px;
    border: 3px solid #323232;
    position: relative;
    left: -166px;

    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;

    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;

    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;

    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px;
}
.right{
    position:relative;
    float:right;
}
.left{
    position:relative;
    float:left;
}

#ratings{
    position:relative;
    float:left;
    width: 120px;
}
#commentContainer
{
    position:relative;
    float: bottom;
    bottom: 0px;
}
.submit input
{
    border: 1px solid #323232;
    background-color: gray;
}
#CommentTable{
margin-bottom: 10px;
}

/*Dynamic Drive*/
body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 
}

#framecontentLeft, #framecontentRight{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 300px; /*Width of left frame div*/
    height: 100%;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    background-color: #323232;
    color: white;
}

#framecontentRight{
    left: auto;
    right: 0; 
    width: 300px; /*Width of right frame div*/
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    background-color: #323232;
    color: white;
}

#maincontent{
    position: fixed; 
    top: 0;
    left: 300px; /*Set left value to WidthOfLeftFrameDiv*/
    right: 300px; /*Set right value to WidthOfRightFrameDiv*/
    bottom: 0;
    overflow: auto; 
    background: #cccccc;
    color: #323232;
    min-width: 820px;
}

.innertube{
    margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
    padding-left: 20px;
}


